

.header__nav {
    display:flex;
    gap : 20px;
    button {
        border-radius: 1px solid;
        border-color:transparent;
        border-radius: 15px;
        width: 10%;
        padding: 1%; 
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
        color:rgb(104, 104, 104);
        font-weight: 600;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    button:hover {
        background-color: rgb(175, 175, 175);
        color: white;
        transition: 300ms;
    }
    

    
}